<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/bootstrap/images/favicon.ico">
       <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
       <link href="/static/bootstrap/css/customer.css" rel="stylesheet">

    <title>docker配置中心</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body >

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">docker配置中心</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">控制面板</a></li>
            <li><a href="#">设置</a></li>
            <li><a href="#">帮助</a></li>
            <button type="button"  class="btn btn-danger" onclick="exitu()" style=" margin-top:10px;">退出</button>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="搜索...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row" >
        <div class="col-sm-3 col-md-2 sidebar" style=" margin-top:40px;">
          <ul class="nav nav-sidebar" >
            <li class="active"><a href="#">概述 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">报告</a></li>
            <li><a href="#">分析工具</a></li>
            <li><a href="#">出口</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">导航1</a></li>
            <li><a href="">导航2</a></li>
            <li><a href="">导航3</a></li>
            <li><a href="">导航4</a></li>
            <li><a href="">导航5</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">导航6</a></li>
            <li><a href="">导航7</a></li>
            <li><a href="">导航8</a></li>
          </ul>
        </div>

          <h2 class="sub-header" style=" margin-top:100px;">docker容器信息</h2>
          <div class="body">%s</div>
          <button id="create" type="button"  style='background-color:dodgerblue' class="btn btn-danger"  style=" margin-top:10px;">新建</button>
          <script type="text/javascript" src="../../static/bootstrap/js/jquery.min.js">
           $(function(){
             $('#create').click(function(){
                      $.ajax({
                          url:"/more",
                          type:'get',
                          success:function (data) {
                                $('.body').append(data);
                          }

                     })
                 })

            })
          </script>
          <div class="table-responsive" >
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>序号</th>
                    <th>容器名称</th>
                    <th>容器id</th>
                    <th>镜像名称</th>
                    <th>容器状态</th>
                    <th>时间</th>
                    <th>容器ip地址</th>
                    <th>容器端口1</th>
                    <th>容器端口2</th>
                    <th>容器端口3</th>
                    <th>容器内主服务状态</th>
                    <th>容器所属组</th>
                </tr>
              </thead>
              <tbody>

                    {% for i in result_dict %}
                  <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                    <td>{{ i[6] }}</td>
                    <td>{{ i[7] }}</td>
                    <td>{{ i[8] }}</td>
                    <td>{{ i[9] }}</td>
                    <td>{{ i[10] }}</td>
                    <td>{{ i[11] }}</td>
                    <td>{{ i[12] }}</td>

                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap/js/jquery-2.1.1.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/bootstrap/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
